@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Noto Sans, Noto Sans TC, sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

/* header */

.header {
    max-width: 1920px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid #F1F1F1;
    padding-left: 10%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu li a {
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-decoration: none;
    margin: 0 20px;
    padding: 4px 4px;
}

.menu li a:hover{
    font-weight: 600;
    outline: 1px solid #919191
}

/* introduction */

.introduction {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction-1 {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.introduction-1 h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    color: #3B3B3B;
    padding-bottom: 14px;
    white-space: nowrap;
}

.introduction-text1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    color: #5B5B5B;
    padding: 7px 0;
}

.introduction-text1 p {
    padding: 7px 0;
}

.skill {
    white-space: nowrap;
}

.mark-1 {
    z-index: 5;
    position: relative;
    white-space: nowrap;
}

.mark-2 {
    z-index: -1;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.introduction-text2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #C1C1C1;
    padding-top: 7px;
}

.introduction-2 {
    display: flex;
    margin-top: 50px;
}

.introduction-2 a {
    margin-right: 16px;
}

.hero {
    width: 60%;
    height: auto;
}

/* works */

.works {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.works h2 {
    padding: 120px 80px;
}

.works h2 img {
    padding: 120px 80px;
}